html,
body {
    font: normal 100%/1.5 'Roboto', sans-serif;
}

body {
    background-color: #eee;
    display: flexbox;
    display: flex;
    justify-content: center;
}

.clip-img {
    /* width: 100px;
    height:100px;
    clip-path: circle(40% at center); */
    border-radius: 50%;
    margin-right: 10px;
    width: 60px;
}

.card {
    width: 450px;
    background-color: white;
}

.row {
    display: flex;
    padding: 1rem 1rem 0 1rem;
}

.column {
    padding-right: 10px;
}

.address {
    color: #979797;
    font-size: .7em;
    line-height: 1.2rem;
}

.second{
    margin-left:90px;
    padding-top:0px;
    font-size: 18px;
    margin-bottom:10px;
    width:100%;
}

hr {
    border: .5px solid #eee;
    width: 100%;
}

.icons{
    margin:0 40px 10px 0px;
}

strong{
    color:rgb(83, 83, 83);
    font-size: 14px;
}

.nd-column-1{
    float:right;
    width:80%;
}

.nd-column-2{
    float:right;
    width:20%;
}

.fa, .fas, .icons{
    color: #979797 !important;
    margin-left:15px;
    cursor: pointer;
}

.fa:hover, .fas:hover, .icons:hover{
    color: lightskyblue !important;
}